
/* BP5 take over, if in sidebar mode */
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

html, button, input, select, textarea {
    color: #222222;
    font-family: sans-serif;
}

#dashboard ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
#dashboard ::selection { background: #fe57a1; color: #fff; text-shadow: none; }

#dashboard a { color: #00e; }
#dashboard a:visited { color: #551a8b; }
#dashboard a:hover { color: #06e; }
#dashboard a:focus { outline: thin dotted; color: #ffffff; background: none repeat scroll 0 0 tomato; }
#dashboard a:hover, a:active { outline: 0; }

/* corrects BP3.0 for Dashboard */
#dashboard input[type="checkbox"], #dashboard input[type="radio"] {
    margin: 3px 3px 0;
    padding: 0;
}
.serendipityAdminContentnoSb {
    background: url("{TEMPLATE_PATH}/img/ls3x.png") repeat scroll 0 0 transparent;
    padding: 3px;
}
td.noSidebar {
    padding: 3px 3px 10px;
}
/* overrules later .serendipityAdminContentDashboard class and is set/reset by jquery-dashboard.js */
td.serendipityAdminContentDashboard {
    padding: 3px 3px 10px;
}
#dashboard.maincontent {
    display: inline;
    margin: 0;
    max-width: 1208px;
    padding: 0;
    width: 100%;
}
#dashboard .serendipity_backend_msg_notice { 
    /* radial */
    background: rgb(248,255,232); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOGZmZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNlM2Y1YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjdkZjJkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(248,255,232,1)), color-stop(33%,rgba(227,245,171,1)), color-stop(100%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    background-clip: padding-box;
    border: 1px solid #CACACA;
    /* rounded corners */
    -webkit-border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    -o-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em; /* html5 standard */
    /* shadow settings */
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); /* html5 standard */
    color: #393939;
    font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    margin: 0;
    overflow: auto;
    padding: 10px;
    position: relative; /* IE PIE lt 9, we need this here */
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
    margin: 0;
}
#dashboard h1, #dashboard h2, #dashboard h3,
#dashboard h4, #dashboard h5, #dashboard h6,
#dashboard p, #dashboard ul, #dashboard ol, #dashboard dl,
#dashboard nav ul, #dashboard nav ol,
#dashboard form, #dashboard table {
    font-size: 1em;
    margin: 0 0 1em;
}

#dashboard nav ul#indent-navigation select.serendipitySideBarMenuEntry,
#dashboard nav ul#indent-navigation select.serendipitySideBarMenuMedia,
#dashboard nav ul#indent-navigation select.serendipitySideBarMenuAppearance,
#dashboard nav ul#indent-navigation select.serendipitySideBarMenuUserManagement {
    display: inline;
    width: 16em;
}
#dashboard header>nav#user-menu-user-navigation-select, #dashboard nav#user-menu-user-navigation-select {
    border: 1px solid #BBBBBB;
    display: inline-block;
    float: left;
    margin: 0.5em 0.7em;
    width: 98.4%;
}
#dashboard header > nav#user-menu-user-embed-iconset, 
#dashboard nav#user-menu-user-embed-iconset {
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGRkZGRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    border: 1px solid #AAAAAA;
    border-radius: 1em 1em 1em 1em / 2em 2em 2em 2em;
    -moz-border-radius: 1em 1em 1em 1em / 2em 2em 2em 2em;
    -webkit-border-radius: 1em 1em 1em 1em / 2em 2em 2em 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: inherit;
    display: inline-block;
    margin: 0.8em 0;
    padding: 0 1em;
}
#dashboard nav#user-menu-user-embed-iconset a:hover,
#dashboard nav#user-menu-user-embed-iconset a:focus,
#dashboard nav#user-menu-user-embed-iconset a:visited {
    background: none repeat scroll 0 0 transparent; 
    color: transparent;
}
#dashboard nav#user-menu-user-embed-iconset ul li {
    margin: 0.5em 0 0;
}
#dashboard nav#user-menu-user-embed-iconset img {
    vertical-align: middle;
}
nav#user-menu-user-navigation-select ul#indent-navigation li.select-help {
    cursor: pointer;
    display: inline-block;
    float: right; 
    height: auto;
    margin: 0.7% 0;
    width: auto;
}
#dashboard nav#user-menu-user-embed-switch {
    display: inline-block;
    float: right;
}
#dashboard nav#user-menu-user-embed-switch ul li:first-child{
    padding-top: 8px;
}
#dashboard nav#user-menu-user-embed-switch ul li:last-child {
    float: right;
    padding: 2px 6px;
}
nav#user-menu-user-navigation-select div.main-help {
    margin: 0pt 0.7em 1em 0pt; 
    float: right; 
    display: inline-block;
}
#dashboard input.serendipityPrettyButton, a.serendipityPrettyButton {
    background: none repeat scroll 0 0 lightSteelBlue;
    color: inherit;
    display: inline-block;
}
#dashboard div.input-boxed {
    display: inline-block;
}
/* reset our normal browsers input type (button) behaviour by CSS */
#dashboard input.none[type="button"], #dashboard input.none[type="reset"], #dashboard input.none[type="submit"] {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid transparent;
    color: #333333;
    display: inline;
    font-size: 97.4%;
    margin: 0;
    padding: 0 0 0 2px;
}
/* try to rebuild the browser input type (button) behaviour with included image */
/* YES, I know they normally look different on different OS and different Browsers */
#dashboard span.inputtype {
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGRkZGRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    border: 1px solid #AAAAAA;
    border-radius: 1em/2em;
    -moz-border-radius: 1em/2em;
    -webkit-border-radius: 1em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    color: inherit;
    display: inline-block;
    font-family: "Courier New",Courier;
    margin: inherit;
    padding: 0.2em;
    text-shadow: 0 1px 0 #fff;
    width: auto;
}
/* trying to rebuild mozilla button hover */
#dashboard span.inputtype:hover,
#dashboard span.inputtype:focus {
    background: rgb(254,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2RkZjFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGQ4ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-8 */
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: default;
}
#dashboard input.none[type="button"]:hover, #dashboard input.none[type="button"]:focus,
#dashboard input.none[type="submit"]:hover, #dashboard input.none[type="submit"]:focus {
    color: #911;
}
#dashboard span.inputtype>img {
    vertical-align: middle;
}
#dashboard #btb { 
    float: right;
}

/* dashboard ul sets global block, nav ul needs inline and sections need inline-block */
#dashboard ul { 
    display: block;
    list-style: none outside none; 
    margin: 0; 
    padding: 0; 
}
#dashboard nav ul, #dashboard nav ol { 
    display: inline; 
}
#dashboard > section ul {
    display: inline-block; 
}
#dashboard ul li { float: left; padding: 2px 6px; }

#dashboard .comment_titel label time>img {
    vertical-align: middle;
}
#dashboard .comment_text { 
    border: 1px solid #BBBBBB;
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    -o-box-shadow: 5px 5px 5px #333333;
    /* commented out for IE9 compatibility only
    box-shadow: 5px 5px 5px #333333; */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=115, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=115, Color='#333333');
    margin-bottom: 5px;
    margin-left: 2px;
    padding: 10px;
    width: 97%;
}

#dashboard #pending-comments .comment_text { 
    background: none repeat scroll 0 0 SteelBlue;
    color: invert;
    color: PowderBlue;
}
#dashboard #recent-comments .comment_text { 
    background: none repeat scroll 0 0 DarkSeaGreen;
    color: DarkSlateGrey;
}
#dashboard #pending-comments li.mod_ham,
#dashboard #pending-comments li.mod_spam {
    background: none repeat scroll 0 0 mediumAquaMarine;
    border-radius: 1em 1em 1em 1em / 2em 2em 2em 2em;
    box-shadow: 4px 2px 7px steelblue;
    margin: 0 2px;
    padding: 3px 6px;
}

#dashboard ul.comment_fields {
    margin: 10px 0 0;
    width: 96%;
}
#dashboard ul.comment_admin { 
    margin: 2px 0 10px; 
    width: 96%;
}
#dashboard img.attention { 
    width: 22px; 
    height: 22px; 
    border: 0px; 
    padding-right: 4px; 
    vertical-align: middle; 
}
#dashboard span.spamblockBayesControls img,
#dashboard a.spamblockBayesControls img { 
    vertical-align: middle; 
}
#dashboard .serendipity_admin_comment_pending_header { 
    border: 0 none; 
    border-bottom: 2px solid #FF0000; 
}
#dashboard div.serendipityAdminMsgNote {
    margin: -13px 0 10px;
}
#dashboard .serendipity_admin_comment_pending {
    border: 1px solid #FF0000; /* corrects 2px border */
}
#dashboard .serendipity_admin_list_item {}
#dashboard .serendipity_admin_list_item_uneven {
    background: none repeat scroll 0 0 #EEEEEE;
}
#dashboard .serendipity_admin_list_item_draft, 
#dashboard .serendipity_admin_list_item_future { 
    display: inline-table; 
    width: 100%; 
}
/* important is a need sometimes... */
#dashboard .visuallyhidden { 
    border: 0 !important;
    clip: rect(0 0 0 0);
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    position: absolute;
    width: 0 !important;
}

#dashboard .comment_boxed { 
    background-color: LightGreen;
}
#dashboard .comment_titel {
    display: inline;
    vertical-align: top;
}
#dashboard .all-box-right { 
    float: right;
    margin-right: 6px;
    text-align: right;
}
#dashboard .box-right { 
    float: right;
    margin-right: 6px;
    text-align: right;
}
/* IE needs some work here
.ie9 #dashboard .box-right img { 
    vertical-align: bottom;
}
.ie9 #dashboard .box-right a:hover img { 
    color:transparent;
} */
#dashboard #cell_left { 
    display: table-cell; 
    width: 50%; 
    padding: 0 5px; 
}
#dashboard #cell_left h3 { 
    margin: 4px 0; 
}
#dashboard #cell_left div { 
    margin: 10px 0 4px;
}
#dashboard #cell_right { 
    padding: 0 5px; 
    text-align: right; 
}
#dashboard #cell_right ul li {
    float: right;
    margin: 6px 0 2px;
    padding: 0;
}
#dashboard .dashboard {
    margin: 0px auto;
    padding: 5px;
}
#dashboard .dashboard h3 {
    font-size: inherit;
}
#dashboard .dashboard h3.approved {
    margin: 4px 0 0 4px;
}
#dashboard .dashboard_future, #dashboard .dashboard_comments, #dashboard .dashboard_draft, #dashboard .dashboard_comments_pending {
    min-height: 30px;
}
#dashboard .dashboard_comments_pending form>span {
    color: #333333 !important; /* must overwrite .serendipityAdminContent span */
}
#dashboard form#formMultiDeleteApp {
    margin-top: 18px;
}
#dashboard .dashboard_start {
    clear: both;
}
#dashboard #notifierform {
    padding: 10px 5px;
}
#dashboard #notifier {
    background: none repeat scroll 0 0 Beige;
    padding: 5px;
}
#dashboard #notifierform p {
    margin: 0;
}

#dashboard header, #dashboard section {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AAAAAA;
    margin: 0 0 0.4%;
    max-width: 1208px;
}
#dashboard footer {
    margin-top: -3px;
}
#dashboard #nav-frontpage, #dashboard #nav-cleanup {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px 0;
    margin: 0 0 0.4%;
}
#dashboard #nav-cleanup ul {
    margin: 0;
    width: 100%;
}
#dashboard #nav-cleanup ul li {
    width: 96%;
}
#dashboard header > div {
    padding-top: 0;
}
#dashboard header > div #head, #dashboard footer > div h1 {
    background: url("{TEMPLATE_PATH}/img/stripes.gif") repeat scroll 0 0 transparent;
    color: Gainsboro;
    padding: 6px;
}
#dashboard header > div #head {
    height: 60px;
    margin: 0 0 8px;
}
#dashboard header > div #head h1 {
    font-size: 160%;
}
#dashboard header > div #head h2 {
    float: right;
    font-size: 80%;
    margin: 0;
    padding: 0;
}
#dashboard footer > div {
    display: inline-block;
    width: 100%;
    margin: 2px 0 0 0;
}
#dashboard footer h1 {
    margin: 0;
}
#dashboard nav#user-menu-user-welcome {
    float: left;
    width: 63%;
}
#dashboard nav#user-menu-user-welcome ul li {
    border: 1px solid #BBBBBB;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0.5em;
    width: 46%;
}
#dashboard nav#user-menu-user-welcome h2 {
    margin: 0.5em 0.5em 0.8em;
}
#dashboard nav#user-menu-user-welcome h2 span img{
    vertical-align: top;
}

#dashboard div#boxed_autoupdate {
    background: none repeat scroll 0 0 ivory;
    border: 1px solid red;
    display: table;
    font-size: 89%;
    margin: -0.7em 0 0.3em;
    padding: 0.1em 0 0 0.1em;
}
#dashboard nav#user-menu-user-navigation {
    border: 1px solid #BBBBBB;
    float: left;
    margin: 0.7%;
    width: 63.6%;
}
#dashboard nav#user-menu-user-navigation ul li, #dashboard nav#user-menu-user-navigation span {
    border: 1px solid #BBBBBB;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0.5em;
    width: 46%;
}
#dashboard nav#user-menu-user-navigation span {
    border: 1px solid transparent;
}
#dashboard nav#user-menu-user-navigation li.serendipitySideBarMenuLink { 
    margin: 0.4% 0;
    width: 95.4%;
}
#dashboard nav#user-menu-user-navigation button{
    font-size: 120%;
    padding: 4px;
    display: inline-block;
    border: 1px solid #999;
    background-color: #eee;
    margin: 0 4px 4px 2px;
}
#dashboard nav#user-menu-user-navigation  button:focus{
    color: #666;
    background-color: YellowGreen;
}
#dashboard nav#user-menu-user-navigation #iopen {
    background: none repeat scroll 0 0 PaleVioletRed;
    float: right;
    margin-top: 2px;
    -moz-box-shadow: 0.1em 0.1em 0.2em #333333;
    -webkit-box-shadow: 0.1em 0.1em 0.2em #333333;
    box-shadow: 0.1em 0.1em 0.2em #333333;
}
#dashboard nav#user-menu-user-navigation #iopen.navi {
    width: 14%;
}
#dashboard nav#user-menu-user-navigation #iopen span.inline {
    border: 0 none;
    display: inline;
    margin: 0;
    padding: 0;
}
#dashboard nav#user-menu-user-navigation #iopen.help {
    height: auto;
    padding: 0;
    width: auto;
}
#dashboard nav#user-menu-user-navigation #iopen.help img {
    width: 26px;
    height: 26px;
}
#dashboard nav#user-menu-user-navigation div#navbar {
    background: none repeat scroll 0 0 SteelBlue;
    width: 84%;
}
#dashboard nav#user-menu-user-navigation div#navbar ul li {
    background: none repeat scroll 0 0 inactivecaption;
    margin: 0.1% 0.33% 0.5%;
}
#dashboard nav#user-menu-user-navigation  button:hover,
#dashboard nav#user-menu-user-navigation div#navbar a:hover {
    background: none repeat scroll 0 0 PaleVioletRed;
    color: #666666;
    width: 100%;
}
#dashboard nav#user-menu-user-navigation ul.onebox li {
    display: block; 
    float: none;
}
#dashboard nav#user-menu-user-navigation span.small {
    border: 0 none;
    color: graytext;
    display: inline;
    font-size: 80%;
    margin: 0;
    width: auto;
}

#dashboard nav#user-menu-user-linkbox, #user-menu-user-linkbox ul li {
    border: 1px solid #BBBBBB;
    display: inline-block;
    margin: 0 0 0.5%;
    padding: 4px;
    width: 33.3%;
}
#dashboard nav#user-menu-user-linkbox h4 {
    margin: 1% 0 2%;
    padding: 0;
    font-size: 90%;
}
#dashboard nav#user-menu-user-welcome ul li, #dashboard nav#user-menu-user-navigation ul li, #dashboard nav#user-menu-user-linkbox ul li {
    background: none repeat scroll 0 0 inactivecaption;
}
#dashboard nav#user-menu-user-linkbox ul li {
    margin: 0 1% 1% 0;
    width: 45.4%;
}
#dashboard nav#user-menu-user-linkbox ul.s9yheader li {
    background: none repeat scroll 0 0 transparent;
    font-size: 76%;
}
#dashboard #recent-comments .openall {
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    margin: 0;
    padding: 2px;
}
#dashboard #recent-comments .openall>img {
    vertical-align: middle;
}
#dasboard nav#user-menu-user-welcome, 
#dashboard nav#user-menu-user-navigation, 
#dashboard nav#user-menu-user-linkbox {
    background: none repeat scroll 0 0 #EFEFEF;
}
#dashboard > section#entries,
#dashboard > section#updates { 
    background: none repeat scroll 0 0 Menu;
    display: inline-block;
    width: 100%;
}
#dashboard > div.empty_notice { 
    background: none repeat scroll 0 0 menu;
    border: 1px solid #AAAAAA;
    margin: 0 0 0.4%;
}
#dashboard sup.note { color: Tan; }

#dashboard > section div#draft-entries,
#dashboard > section div#future-entries,
#dashboard > section div#s9y-plugup,
#dashboard > section div#s9y-update {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #DFDFDF;
    display: table-caption;
    width: 49%;
    min-height: 120.8px;
}

/* these 2 classes set a first class to the first elemets in row via JQuery*/
#dashboard > section div.block-entries,
#dashboard > section div.block-updates { 
    float: right;
    margin: 10px 2px 4px;
}
#dashboard nav#user-menu-user-navigation div a img,
#dashboard > section div.block-entries div a img {
    border: 0px none; 
    vertical-align: bottom;
}
#dashboard > section div.first { 
    float: left;
}

#dashboard .dashboard_update p {
    margin: 0;
    padding: 2px;
}
#dashboard .dashboard_plugup  {
    display: block;
    width: 100%;
}
#dashboard .dashboard_plugup #upgrade_notice {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #72878A;
    color: inherit;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 98%;
}
#dashboard .dashboard_plugup #upgrade_notice a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#dashboard .dashboard_future ul li,
#dashboard .dashboard_draft ul li {
    padding: 0;
}

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/** ModalContainer **/

#modalContainer ul {
    border: 1px solid #999999;
    display: list-item;
}
#modalContainer ul li {
    background: none repeat scroll 0 0 gold;
    border: 1px solid brown;
    color: #333333;
    float: none;
    list-style: decimal-leading-zero inside none;
    margin: 6px 0;
    width: 92%;
}
#modalContainer ul li.checked {
    background: none repeat scroll 0 0 LightGreen;
    text-decoration: line-through;
}
#modalContainer a{
    color:white;
    text-decoration:none;
    font-style:italic;
}
#modalContainer a:hover{
    color:black;
    text-decoration:underline;
    font-style:italic;
}

#dashboard .mcwrapper{
    font-family:Arial, Helvetica, sans-serif;
    margin-top:100px;
    margin-left:50px;
}

#dashboard .mcwrapper h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:26px;
}

#modalContainer .evidence{
    color:gray;
    padding:10px;
    margin-right:5px;
    margin-top:5px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#modalContainer #actions button{
    padding:4px;
    display:inline-block;
    cursor:pointer;
    font:12px/14px Arial, Helvetica, sans-serif;
    color:#666;
    border:1px solid #999;
    background-color:#eee;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:#999 2px 0px 3px;
    -webkit-box-shadow:#999 2px 0px 3px;
    margin-bottom:4px;
}

#modalContainer :focus {
    outline: 0;
}

#modalContainer #actions button:hover{
    color:#aaa;
    background-color:#000;
}

#modalContainer #open{position:relative; bottom:40px;left:100px;}

#dashboard .spamblockBayesControls {
    cursor: pointer;
}
#dashboard .spamblockBayesRating {
    float: none;
}
#dashboard .spamblockBayesRating img {
    vertical-align: middle;
}

/* modifications need to fit in right place later */
#dashboard .comment_text {
    width: inherit;
}
#menu-autoupdate.text-icon,
#dashboard #recent-comments .comments_header,
#dashboard #pending-comments .comments_header { 
    background: rgb(254,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(238,238,238,1) 35%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: default;
    margin: 0 3px;
}
#dashboard .box-right { 
    margin-right: 0;
    padding: 0.1em 0.2em;
}
#dashboard .comment_titel {
    padding: 0 0.2em 0.12em;
}
#dashboard .comment_boxed,
#dashboard #recent-comments .comment_text,
#dashboard #pending-comments .comment_text {
    margin-right: 2px;
    opacity: 0.7;
}
#dashboard #pending-comments .comment_text {
    background: none repeat scroll 0 0 transparent;
    color: DimGrey;
}
#dashboard .text-icon {
    display: inline-block;
    font-family: 'serif';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
#dashboard #menu-autoupdate.text-icon {
    border-color: #AAAAAA;
    border-style: solid dashed;
    border-width: 1px;
    font-size: 56px;
    height: auto;
    line-height: 48px;
    margin: 0;
}
#dashboard .text-icon:before {
    font-size: 56px;
    text-decoration: none;
}
#dashboard .text-icon-notifications:before {
    content: "!";
}
#dashboard div#boxed_autoupdate {
    margin: 0.2em 0.8em;
}
#dashboard .box-right {
    background: none repeat scroll 0 0 buttonface;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #999999;
}
