/* dashboard css file
   last modified: 2012-12-16 */

html, body { width: 100%; }

body { max-width: 1280px; }

/* BP5 take over, if in sidebar mode */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; }

button,
input {
    line-height: normal;
    white-space: normal;
}

#dashboard button,
#dashboard input,
#dashboard select,
#dashboard textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
/*added with new backend */
#dashboard button.none { margin: 0 2px; }

.serendipityAdminContent *:not(div) {
    /* some undefined setting set the backend but not the sidebar in
       some cases very small, therefor we push it up here to show
       nearly as it was before */
    font-size: 102%;
}

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* corrects BP3.0 for Dashboard */
#dashboard input[type="checkbox"], #dashboard input[type="radio"] {
    margin: 3px 3px 0;
    padding: 0;
    top: 0; /*added with new backend */
}

.serendipityAdminContentnoSb { padding: 3px; }

td.noSidebar { padding: 3px 3px 10px; }

/* overrules later .serendipityAdminContentDashboard class and is set/reset by jquery-dashboard.js */
td.serendipityAdminContentDashboard { padding: 3px 3px 10px; }

.maincontent {
    display: block;
    font-size: 90%; /* ... and back in the dashboard to its near old value... could also 90% */
    line-height: normal;
    margin: 0 0 2em;
    max-width: 1208px;
    padding: 0;
    width: 100%;
}

#dashboard header, #dashboard #layout, #dashboard #s9y-error {
    background: #F9F9F9;
    border: 1px solid #aaa;
    margin: 0 0 4px;
    max-width: 1208px;
    padding: 0.2em;
}

#dashboard #nav-navigation-select {
    border: 1px solid #bbb;
    clear: both;
    display: inline-block;
    margin: 0.5em 0.7em;
    width: 98.4%;
}

#dashboard #indent-navigation select.serendipitySideBarMenuEntry,
#dashboard #indent-navigation select.serendipitySideBarMenuMedia,
#dashboard #indent-navigation select.serendipitySideBarMenuAppearance,
#dashboard #indent-navigation select.serendipitySideBarMenuUserManagement {
    display: inline;
    width: 16em;
}
#dashboard #select-form-navigation.select-navigation {
    display: block;
}

#dashboard #nav-embed-switch {
    display: inline-block;
    float: right;
    text-align: end;
}
/*added with new backend - in sidebar mode*/
#dashboard > header, #dashboard > header nav {
    height: auto;
    min-height: 76px;
}

#dashboard #nav-embed-switch ul li:last-child {
    float: right;
    padding: 2px 6px;
}
/*added with new backend*/
#dashboard #nav-embed-switch ul li:last-child {
    height: 0; 
}

#dashboard #nav-navigation-select .main-help {
    padding: 0 0.7em 1em 0; /* one-liner (temporary workaround) in chrome ok - in mozilla breaks line - why */
    text-align: right; /* IE + Opera and old Moz and Safari fallback */
    text-align: end;
}

#dashboard .input-boxed {
    margin: 0.3em 0 0;
}
#dashboard .input-boxed,
#dashboard .bayes-boxed {
    display: inline-block;
    float: right; /* added with new backend */
    margin-bottom: 4px; /* added with new backend */
}
/* reset our normal browsers input type (button) behaviour by CSS */
#dashboard input.none[type="button"], #dashboard input.none[type="reset"], #dashboard input.none[type="submit"] {
    background: transparent;
    border: 1px solid transparent;
    color: #333;
    display: inline;
    font-size: 97.4%;
    margin: 0;
    padding: 0 0 0 2px;
}
/* try to rebuild the browser input type (button) behaviour with included image */
/* YES, I know they normally look different on different OS and different Browsers */
#dashboard span.inputtype {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 1em / 2em;
    -moz-border-radius: 1em / 2em;
    -o-border-radius: 1em / 2em;
    border-radius: 1em / 2em;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    color: inherit;
    display: inline-block;
    /*font-family: "Courier New",Courier;*/
    margin: inherit;
    padding: 0.2em;
    text-shadow: 0 1px 0 #fff;
    width: auto;
}
/* trying to rebuild mozilla button hover */
#dashboard span.inputtype:hover,
#dashboard span.inputtype:focus {
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: default;
}
#dashboard input.none[type="button"]:hover, #dashboard input.none[type="button"]:focus,
#dashboard input.none[type="submit"]:hover, #dashboard input.none[type="submit"]:focus {
    color: #911;
}
#dashboard span.inputtype>img {
    vertical-align: middle;
}
#dashboard #btb { 
    float: right;
}

/* dashboard ul sets global block, nav ul needs inline and sections need inline-block */
#dashboard ul { 
    display: block;
    list-style: none outside none; 
    margin: 0; 
    padding: 0; 
}
#dashboard header ul, #dashboard header ol { 
    display: inline; 
}
#dashboard #layout ul {
    display: inline-block; 
}
#dashboard .horizontal li {
    float: left; 
    padding: 2px 6px; 
}

#dashboard .comment_titel label time>img {
    vertical-align: middle;
}
#dashboard .comment_text { 
    /* avoid box-shadow in here for IE9 compat issues */
    border: 1px solid #bbb;
    margin-bottom: 5px;
    padding: 10px;
    width: 100.2%;
}

#dashboard #compen .mod_ham,
#dashboard #compen .mod_spam {
    margin: 0;
    padding: 0;
}
#dashboard .comment_fields {
    margin: 10px 0 0;
    width: 96%;
}
#dashboard .comment_admin {
    margin: 2px 0 4px;
}
#dashboard .comment_fields,
#dashboard .comment_admin { width: 100%; }

#dashboard .comment_admin li {
    border: 1px solid AntiqueWhite;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#dashboard #compen .mod_bayes {
    float: right;
}
#dashboard .comment_admin li:first-child {
    margin-left: 0.5em;
}
#dashboard .comment_admin li.mod_bayes {
    background: transparent;
    border: 0 none;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    margin: 0 0.5em 0 0;
    padding: 0;
}
#dashboard .attention { 
    width: 22px; 
    height: 22px; 
    border: 0px; 
    padding-right: 4px; 
    vertical-align: middle; 
}
#dashboard .spamblockBayesControls img,
#dashboard .spamblockBayesControls img { 
    vertical-align: middle; 
}
#dashboard .serendipity_admin_comment_pending_header { 
    border: 0 none; 
    border-bottom: 2px solid #f00; 
}
#dashboard .msg_dialogue {
    margin: -13px 0 10px;
}
#dashboard .serendipity_admin_list_item {}
#dashboard .serendipity_admin_list_item_uneven {
    background: #eee;
}
#dashboard .serendipity_admin_list_item_draft, 
#dashboard .serendipity_admin_list_item_future { 
    display: inline-table; 
    width: 100%; 
}
/* important is a need sometimes... */
#dashboard .visuallyhidden { 
    border: 0 none !important;
    clip: rect(0px, 0px, 0px, 0px);
    display: none !important;
    height: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    visibility: hidden !important;
    width: 0 !important;
}}

#dashboard .comment_titel {
    display: inline;
    vertical-align: top;
}
#dashboard .all-box-right { 
    float: right;
    margin-right: 6px;
    text-align: right;
}
#dashboard .box-right { 
    border: 1px solid #DFDFDF;
    float: right;
    margin: -1px 0 0;
    padding: 0 0.28em;
    text-align: right;
}
#dashboard #cell_left, #dashboard #cell_right {
    display: table-cell;
    padding: 0 5px;
    text-align: left;
    vertical-align: baseline;
    width: 50%;
}
#dashboard #cell_left h3 { 
    margin: 4px 0; 
}
#dashboard #cell_left div { 
    margin: 10px 0 4px;
}
#dashboard #cell_right.txtrht { 
    text-align: right; 
}
#dashboard #cell_right ul li {
    float: left;
    margin: 6px 0 2px;
    padding: 0;
}
#dashboard .block-content {
    margin: 0 auto;
    padding: 5px;
    width: auto;
}
#dashboard .block-content h3 {
    font-size: inherit;
}
#dashboard .block-content .approved {
    margin: 4px 0 0 4px;
}

#dashboard form#formMultiDeletePen,
#dashboard form#formMultiDeleteApp {
    margin: 0;
}
#dashboard .block-content-start {
    clear: both;
}
#dashboard #notifier { padding: 5px; }

#dashboard #notifierform {
    display: inline-table; /* see .serendipity_admin_list_item_draft and . serendipity_admin_list_item_future ~406 */
    padding: 10px 5px;
    width: 100%;
}
#dashboard #notifierform p {
    margin: 0;
}
#dashboard #notifier.single {
    padding: 0;
    width: 98%;
}
#dashboard #notifier.single p {
    border: 1px solid #72878A;
    margin: 0;
    opacity: 0.75;
    padding: 0 0 0 7px;
}
#dashboard footer {
    margin-top: -3px;
}
#dashboard #nav-frontpage, #dashboard #nav-cleanup {
    background: #F9F9F9;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 0;
    margin: 0 0 0.4%;
}
#dashboard #nav-cleanup ul {
    margin: 0;
    width: 100%;
}
#dashboard #nav-cleanup ul li {
    width: 96%;
}
#dashboard header > div {
    padding: 0 0 10px;
}
#dashboard header > div #head, #dashboard footer > div h1 { padding: 6px; }

#dashboard header > div #head {
    height: 60px;
    margin: 0 0 8px;
}
#dashboard header > div #head h1 {
    font-size: 160%;
}
#dashboard header > div #head h2 {
    float: right;
    margin: 0;
    padding: 0;
}
#dashboard footer > div {
    display: inline-block;
    width: 100%;
    margin: 2px 0 0 0;
}
#dashboard footer h1 {
    margin: 0;
}
#dashboard #nav-welcome {
    float: left;
    min-width: 50%;
    max-width: 63%;
}
#dashboard #nav-welcome ul li {
    border: 1px solid #bbb;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0.5em;
    width: 46%;
}
#dashboard #nav-welcome h2 {
    margin: 0.5em 0.5em 0.8em;
}
#dashboard #nav-welcome h2 span img{
    vertical-align: top;
}
#dashboard #nav-info > span.msg_notice {
    margin: 0;
    padding: 0;
}
#dashboard #nav-navigation {
    border: 1px solid #bbb;
    float: left;
    margin: 0.7%;
    width: 63.6%;
}
#dashboard #nav-navigation ul li, #dashboard #nav-navigation span {
    border: 1px solid #bbb;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0.5em;
    width: 46%;
}
#dashboard #nav-navigation span {
    border: 1px solid transparent;
}
#dashboard #nav-navigation li.serendipitySideBarMenuLink { 
    margin: 0.4% 0;
    width: 95.4%;
}
#dashboard #nav-navigation button{
    font-size: 120%;
    padding: 4px;
    display: inline-block;
    border: 1px solid #999;
    background-color: #eee;
    margin: 0 4px 4px 2px;
}

#dashboard #nav-navigation #iopen {
    background: PaleVioletRed;
    float: right;
    margin-top: 2px;
    -moz-box-shadow: 0.1em 0.1em 0.2em #333;
    -webkit-box-shadow: 0.1em 0.1em 0.2em #333;
    -o-box-shadow: 0.1em 0.1em 0.2em #333;
    box-shadow: 0.1em 0.1em 0.2em #333;
}
#dashboard #nav-navigation #iopen.navi {
    width: 14%;
}
#dashboard #nav-navigation #iopen span.inline {
    border: 0 none;
    display: inline;
    margin: 0;
    padding: 0;
}
#dashboard #nav-navigation #iopen.help {
    height: auto;
    padding: 0;
    width: auto;
}
#dashboard #nav-navigation #iopen.help img {
    width: 26px;
    height: 26px;
}
#dashboard #navbar select {
    background-color: rgb(239, 243, 247); /*#EFF3F7*/
}
#dashboard #navbar select > option[value=""] {
    background: inactivecaption;
}
#dashboard #nav-navigation #navbar {
    background: SteelBlue;
    width: 84%;
}
#dashboard #nav-navigation #navbar ul li {
    background: inactivecaption;
    margin: 0.1% 0.33% 0.5%;
}
#dashboard #nav-navigation  button:hover,
#dashboard #nav-navigation #navbar a:hover { width: 100%; }

#dashboard #nav-navigation ul.onebox li {
    display: block; 
    float: none;
}
#dashboard #nav-navigation .small {
    border: 0 none;
    display: inline;
    font-size: 80%;
    margin: 0;
    width: auto;
}

#dashboard #nav-linkbox, #nav-linkbox ul li {
    border: 1px solid #bbb;
    display: inline-block;
    margin: 0 0 0.5%;
    padding: 4px;
    width: 33.3%;
}
#dashboard #nav-linkbox h4 {
    margin: 1% 0 2%;
    padding: 0;
}
#dashboard #nav-welcome ul li, #dashboard #nav-navigation ul li, #dashboard #nav-linkbox ul li {
    background: inactivecaption;
}
#dashboard #nav-linkbox ul li {
    margin: 0 1% 1% 0;
    width: 45.4%;
}
#dashboard #nav-linkbox .s9yheader li {
    background: transparent;
    font-size: 76%;
}
#dashboard #comapp .openall {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 2px;
}
#dashboard #comapp .openall>img {
    vertical-align: middle;
}
/* overwrite welcome */
#dashboard #nav-welcome, 
#dashboard #nav-navigation, 
#dashboard #nav-linkbox {
    background: transparent;
}
#dashboard > .empty_notice { 
    background: menu;
    border: 1px solid #aaa;
    margin: 0 0 0.4%;
}

#dashboard #nav-navigation div a img,
#dashboard > section .block-entries div a img {
    border: 0px none; 
    vertical-align: bottom;
}

#dashboard .block-content-update p {
    margin: 0;
    padding: 2px;
}
#dashboard .block-content-plugup  {
    display: block;
    width: 100%;
}
#dashboard .block-content-plugup #upgrade_notice {
    background: #eee;
    border: 1px solid #72878A;
    color: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
#dashboard .block-content-plugup #upgrade_notice a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#dashboard .block-content-future ul li,
#dashboard .block-content-draft ul li {
    padding: 0;
}


/*
 *  These additions need to fit in right place later
 * ++++++++++++++++++++++++++++++++++++++++++++++++ *
 */

#dashboard .not-available {
    margin-left: 0.8em;
}
#dashboard .mod_bayes ul li img,
#dashboard .spamblockBayesRating img {
    height: 16px;
    vertical-align: text-bottom;
    width: 16px;
}
/* downsize the bayes spam icon a little bit */
#dashboard .mod_spam a.spamblockBayesControls img {
    height: 14px;
    width: 14px;
}

#dashboard #compen li.mod_bayes li {
    margin: 0.5em 0.1em 0 0;
}
#dashboard #compen li.mod_bayes ul li {
    padding: 0 0.2em;
}

#dashboard #cell_left.clmore { 
    width: 56%; 
}
#dashboard #compen li.mod_bayes li,
#dashboard ul.comment_admin li,
#nav-embed-switch .text-icon,
#dashboard .feed_header,
#dashboard #comapp .comments_header,
#dashboard #compen .comments_header { 
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(238,238,238,1) 35%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(238,238,238,1) 35%,rgba(221,221,221,1) 100%); /* W3C */
}
#nav-embed-switch .text-icon,
#dashboard #comapp .comments_header,
#dashboard .feed_header,
#dashboard #compen .comments_header { 
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: default;
    margin: 0;
}
#dashboard .comment_titel {
    padding: 0;
}
#dashboard .comment_boxed,
#dashboard #feed .feed_text,
#dashboard #comapp .comment_text,
#dashboard #compen .comment_text {
    margin-left: -1px;
    opacity: 0.7;
}

#dashboard .text-icon {
    display: inline-block;
    /*font-family: 'serif';*/
    font-style: normal;
    font-weight: normal;
}
#nav-embed-switch .text-icon {
    border: 1px solid #aaa;
    height: auto;
    margin: 0;
}

#dashboard > section .block-box {
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
    display: inline-block;
    margin: 0.3em 0.2em;
}

#dashboard .block-box { cursor: pointer; }

#dashboard .flipbox {
    -moz-user-select: none;
    border-bottom: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -o-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    background: rgb(249,249,249); /* Old browsers f9f9f9 */
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
}
#dashboard .block-box .flip {
    background: url("images/arrows.png") no-repeat scroll right 2px transparent;
    /*cursor: pointer;*/
    float: right;
    height: auto;
    margin: 3px 0 0;
    width: 20px;
}
#dashboard .block-box .flipclose {
    background: url("images/arrows.png") no-repeat scroll right -35px transparent;
}

#dashboard .block-box .flipbox {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: move;
    margin: 0;
    padding: 3px 0;
}
#dashboard #layout section.flipflop {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#dashboard #layout section.flipflop,
#dashboard #layout .block-box .flipbox {
    top: 0;
    left: 0;
}
#dashboard #layout section.flipflop:nth-of-type(1) {
    margin: 4px 0 0;
}
#dashboard #layout section.ui-state-highlight .block-box {
    margin-left: 1.5px;
}

#dashboard .block-box h3>span {
    color: #222 !important; /* must overwrite .serendipityAdminContent span */
}
#dashboard .block-box h3.flipbox span { padding-left: 0.5em; }

#dashboard .block-content-info { width: 98.3%; }

#dashboard .block-content-info .table {
    margin: 0;
    padding: 0;
    position: relative;
}
#dashboard .block-content-info .table_content > .plainlist {
    margin: 0 0 1em;
}
#dashboard .block-content-info .table_content {
    border-top: 1px solid #ECECEC;
    float: left;
    width: 45%;
    padding: 0 10px 12px;
}
#dashboard .block-content-info .table_discussion {
    border-top: 1px solid #ECECEC;
    float: right;
    width: 40%;
    padding: 0 10px 12px;
}
#dashboard #info .versions.plainList {
    line-height: 2;
    margin-top: 1em;
}
#dashboard .block-content-info .t {
    line-height: 2;
}

#dashboard .feed_title {
    display: inline-block;
    margin: 1.75px;
    padding: 0;
    vertical-align: top;
}
#dashboard .feed_title label:nth-of-type(2) span {
    background: transparent;
    color: DimGrey !important;
    vertical-align: baseline;
}

#dashboard .feed_title label, #dashboard .feed_title label > span {
    display: inherit; /* new backend */
}
#dashboard .feed_text { padding: 0.5em; }

/*added with new backend */
#dashboard label { font-weight: normal; }

#dashboard .num { vertical-align: text-top; }

#dashboard #feed .num,
#dashboard .block-box .flipbox .num {
    padding: 0;
    vertical-align: text-top;
}

#dashboard .feed_boxed, #dashboard #feed .num { vertical-align: inherit; }

/*added with new backend*/
#dashboard #feed .text.toggle-icon.icon-zoom-in {
    font-size: 112%;
}
#dashboard .block-content-info h4.sub, #dashboard .block-content-info .table, #dashboard .block-content-info .versions {
    margin: 3px;
}
#dashboard .block-content-info .versions {
    clear: both;
}

#dashboard #layout {
    background: none repeat scroll 0 center transparent;
    display: block;
    margin: auto;
    max-width: 1208px;
    min-height: 552px; /* set for sidebar mode */
    min-width: 569px; /* Small tablet portrait (600x800) */
    height: 100%;
    width: 100%;
}
/* both metas */
#dashboard #layout .meta-box {
    background: none repeat scroll 0 center transparent;
    display: inline-block;
    float: left;
    margin: 0;
    max-width: 604px;
    min-height: 536px; /* set min-height to be able to drag and drop boxes w/o issues */
    overflow: visible; /* needed by li.ui-draggable-dragging */
    padding: 0;
    visibility: visible;
    width: 50%;
}

#dashboard #layout .meta-box:hover {
    background-color: #FDFDFF;
    outline: thin dashed #F0DADA;
    outline-offset: -2px; /* Move the outline 2px, as of border */
    padding-bottom: 0.5em;
}

/* hide/show sidebar toogles #content class no-sidebar in new backend*/
#content.no-sidebar { width: 100%; }

/*
 * jQuery UI CSS Framework 1.8.21
 * UI Interaction Cues 
 */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {
    border: 1px solid #fad42e; 
    background: #fbec88 url("images/ui-bg_flat_55_fbec88_40x100.png") 50% 50% repeat-x;
    color: #363636; 
}
/*----------------------------------*/

/* JQUERY-UI_MODS in here */
#dashboard  #layout .ui-layout-main {position: relative; height: 100%; overflow: hidden; margin: 0; padding: 0; border: medium none; cursor: auto;}

/*
 * The :nth-child() and :nth-of-type() pseudo-classes allow to select elements with a formula. *: for all elements.
 * The syntax is :nth-child(an+b), where you replace a and b by numbers of your choice. For instance, :nth-child(3n+1) selects the 1st, 4th, 7th etc. child.
 * div:nth-of-type() works the same, except that it only considers element of the given type (<div> in the example).
 * :first-of-type == :first-child and :last-of-type == :last-child and :only-of-type means an element which is the only child of its parent.
 */
#dashboard #layout section.ui-state-highlight:nth-of-type(n+1) {
    padding: 0.25em;
}
#dashboard #layout section.ui-state-highlight:nth-of-type(1) {
    margin: 4px 0 3px 2px;
}
#dashboard #layout section.ui-state-highlight:nth-of-type(n+1) .block-box {
    margin: 0;
    width: 100%;
}
#dashboard #layout section.ui-state-highlight:nth-of-type(1) .block-box {
    margin: 0;
    width: 100%;
}
/*------------------------------------*/

#dashboard #layout div section.widget {
    clear: both;
    width: 97%;
}
#dashboard #layout .block-box {
    min-height: 0; /* flipping boxes need this better here, as in jquery toggle() */
    position: relative;
    margin: 0 auto 0.4em;
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
}
#dashboard #meta-box-right .block-box {
    margin-left: 0.2em;
}
#dashboard #meta-box-left .block-box {
    left: 0;
    top: 0;
    margin-left: 0.1em;
    margin-right: 0.2em;
}
/*#dashboard #layout .block-box h3 > span {
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}*/
#dashboard a.linkbox {
    background: whitesmoke;
    border: 1px solid #ddd;
    -webkit-border-radius: 1em / 2em;
    -moz-border-radius: 1em / 2em;
    -o-border-radius: 1em / 2em;
    border-radius: 1em / 2em;
    -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .1);
    -o-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .1);
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .1);
    padding: 1px 2px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    z-index: 9999;
    opacity: .0;
    filter: alpha(opacity=00);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";

    /*font: small/150% "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;*/
    text-align: left;
    color: #fff;
    font-weight: bold;
    padding: 0;
    margin: 0;

    /* Edit from here */
    width: auto;
    background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(234,123,104,0.79) 25%, rgba(232,108,87,0.79) 30%, rgba(234,40,3,0.79) 57%, rgba(255,102,0,0.79) 92%, rgba(199,34,0,0.79) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(25%,rgba(234,123,104,0.79)), color-stop(30%,rgba(232,108,87,0.79)), color-stop(57%,rgba(234,40,3,0.79)), color-stop(92%,rgba(255,102,0,0.79)), color-stop(100%,rgba(199,34,0,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(234,123,104,0.79) 25%,rgba(232,108,87,0.79) 30%,rgba(234,40,3,0.79) 57%,rgba(255,102,0,0.79) 92%,rgba(199,34,0,0.79) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(234,123,104,0.79) 25%,rgba(232,108,87,0.79) 30%,rgba(234,40,3,0.79) 57%,rgba(255,102,0,0.79) 92%,rgba(199,34,0,0.79) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(234,123,104,0.79) 25%,rgba(232,108,87,0.79) 30%,rgba(234,40,3,0.79) 57%,rgba(255,102,0,0.79) 92%,rgba(199,34,0,0.79) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(234,123,104,0.79) 25%,rgba(232,108,87,0.79) 30%,rgba(234,40,3,0.79) 57%,rgba(255,102,0,0.79) 92%,rgba(199,34,0,0.79) 100%); /* W3C */
    border: 1px solid #ccc;
    padding: 3px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    -o-box-shadow: 2px 2px 11px #666;
    box-shadow: 2px 2px 11px #666;
}


/*
 * jQuery.mb.components
 * ModalContainerPLUS 3.0 dev
 */
/* CONTAINER SKIN DEFAULT */

.mbc_container, .mbc_container > .mbc_header, .mbc_container > .mbc_header > .mbc_toolBar {
    /*#ffffff #e5e5e5*/
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}
.mbc_container {
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -o-border-radius: .8em;
    border-radius: .8em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 16px;
    min-height: 100px;
    min-width: 100px;
    visibility: hidden;
    overflow: hidden;
}

.mbc_container * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mbc_container.dragging {
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.5);
}

.mbc_container > .mbc_header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #C2C2BD;
    -webkit-border-radius: 9px 9px 0 0;
    -moz-border-radius: 9px 9px 0 0;
    -o-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;
    -webkit-box-shadow:  0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow:  0 0 4px 0 rgba(0, 0, 0, 0.4);
    -o-box-shadow:  0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    width: 100%;
}
.mbc_container > .mbc_header h2 {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
}

.mbc_container.draggable > .mbc_header {
    cursor: move
}

.mbc_container > .mbc_buttonBar {
    position: absolute;
    top: 8px;
    right: 8px;
}

.mbc_container > .mbc_buttonBar div {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    padding: 7px;
    display: inline-block;
    margin: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #d4d4d4;
}


.mbc_container > .mbc_header > .mbc_toolBar {
    border-top: 1px solid #D4D4D4;
    cursor: move;
    font-weight: normal;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#cont2 button, .mbc_button, #cont2 input[type="button"], #cont2 input[type="reset"], #cont2 input[type="submit"] {
    text-shadow: inherit;
}

.mbc_container > .mbc_header > .mbc_toolBar > button.mbc_button {
    position: relative;
    color: #5e5e5e;
    border: none;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(99, 99, 99, 0.20);
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background: transparent;
}
.mbc_container > .mbc_header > .mbc_toolBar > button.mbc_button:hover {
    background: rgba(0,0,0,.1);
}

.mbc_container > .mbc_content {
    position: relative;
    padding: 20px 20px 40px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}
.mbc_container.black > .mbc_footer,
.mbc_container > .mbc_footer {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    min-height: 20px;
    position: absolute;
    width: 100%;
}
.mbc_container > .mbc_footer {
    background: #fff;
    border-top: 1px solid #C2C2BD;
}

/*SKIN BLACK*/

.mbc_container.black, .mbc_container.black > .mbc_header, .mbc_container.black > .mbc_header > .mbc_toolBar {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
}
.mbc_container.black {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.mbc_container.black > .mbc_header {
    position: absolute;
    top:0;
    width: 100%;
    border-bottom: 1px solid #3b3b3a;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.mbc_container.black > .mbc_header h2 {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    color:white;
    font-weight: normal;
    cursor: move;
}

.mbc_container.black > .mbc_buttonBar {
    position: absolute;
    top:8px;
    right: 8px;
}

.mbc_container.black > .mbc_buttonBar div {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    padding: 7px;
    display: inline-block;
    margin: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #d4d4d4;
}

.mbc_container.black > .mbc_content {
    position: relative;
    padding: 20px 20px 40px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    color: white;
}
#cont2.mbc_container.black > .mbc_content .media_file > header {
    color: background;
}
#cont2.mbc_container.black article header, #cont2.mbc_container.black article section  {
    background: #6F6F6F;
    margin: 0 0 4px;
    max-width: 100%;
}
#cont2.black section {
    background: transparent;
}
.mbc_container.black > .mbc_header > .mbc_toolBar {
    border-top: 1px solid #525252;
}

#cont2.mbc_container.black > .mbc_content [class^="icon-"]:before, #cont2.mbc_container.black > .mbc_content [class*=" icon-"]:before {
    color: #FFF;
}
.mbc_container.black > .mbc_header > .mbc_toolBar > button.mbc_button {
    background: transparent;
    position: relative;
    color: #999 !important;
    border: 0 none;
    border-left: 1px solid rgba(69, 69, 69, 0.54);
    border-right: 1px solid rgba(0,0,0,.7);
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.mbc_container.black > .mbc_header > .mbc_toolBar > button.mbc_button:hover {
    background: rgba(0,0,0,.5);
}

.mbc_container.black > .mbc_footer {
    background: #13171c;
    border-top: 1px solid #3b3b3a;
}

/* MBC DEFAULT END */

/* MBC DASHBOARD MAIN START */
#mbc_wrapper {
    position: absolut;
    width: 100%;
    height: 100%;
    background: #444e57;
}
.container {
    width: 450px;
    height: auto;
}
.mbc_container > .mbc_content,
.mbc_container.black > .mbc_content {
    /*font-family: message-box;
    font-size: medium;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 15px;
    padding: 10px 10px 10px 20px;
}
.mbc_container > .mbc_content {
    background: white;
}
.mbc_container.black > .mbc_content {
    background: inherit;
}
.container .mbc_content button {
    border: 1px solid gray;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: #3a3a3a;
    color: white;
    padding: 8px;
    margin-bottom: 15px;
}
.containerIcon, .black.containerIcon {
    background: #000;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 50%;
    height: auto;
    min-height: 10px;
    padding: 10px;
    top: 206px !important;
}
.containerIcon:hover .mbc_title {
    display: block;
    cursor: pointer;
}
.containerIcon .mbc_title {
    display: none;
}
#dock {
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.containerDocked {
    display: inline-block;
    color: white;
    cursor: pointer;
    padding: 15px;
}
#dock span.containerDocked {
    color: white !important; /*overrule s9y span*/
}

/* MBC DASHBOARD MAIN END */

/* MBC ICONS */
.container .icon {
    margin: 0;
    position: relative;
    top: 15px;
}
/* set background to transparent containers icon - which is same as light skin head color */
#serendipity_admin_page > .containerIcon .icon, #cont1 .icon, #cont2 .icon, #dock .icon {
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#efefef 100%); /* W3C */
    vertical-align: inherit;
}
#serendipity_admin_page > .containerIcon .icon, #dock .icon {
    vertical-align: middle;
}
.mbc_container > .mbc_header h2{
    margin-left: 20px;
}

/* dashboard specific mbc inner header/content additions */
#cont1 p.note {
    font: italic normal lighter 0.9em/1.2em 'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;
}
#cont1.mbc_container ul {
    border: 1px solid #999;
    display: list-item;
    margin-bottom: 1em;
}
#cont1.mbc_container ul li {
    background: gold;
    border: 1px solid brown;
    color: #333;
    float: none;
    list-style: decimal-leading-zero inside none;
    margin: 6px 1px;
}
#cont1.mbc_container ul .checked {
    background: LightGreen;
    text-decoration: line-through;
}
#cont1.mbc_container ul .discard {
    text-decoration: line-through;
    background: -moz-linear-gradient(left,  rgba(144,238,144,1) 0%, rgba(255,214,53,1) 50%, rgba(255,215,0,1) 51%, rgba(255,215,0,1) 71%, rgba(255,215,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(144,238,144,1)), color-stop(50%,rgba(255,214,53,1)), color-stop(51%,rgba(255,215,0,1)), color-stop(71%,rgba(255,215,0,1)), color-stop(100%,rgba(255,215,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(144,238,144,1) 0%,rgba(255,214,53,1) 50%,rgba(255,215,0,1) 51%,rgba(255,215,0,1) 71%,rgba(255,215,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(144,238,144,1) 0%,rgba(255,214,53,1) 50%,rgba(255,215,0,1) 51%,rgba(255,215,0,1) 71%,rgba(255,215,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(144,238,144,1) 0%,rgba(255,214,53,1) 50%,rgba(255,215,0,1) 51%,rgba(255,215,0,1) 71%,rgba(255,215,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(144,238,144,1) 0%,rgba(255,214,53,1) 50%,rgba(255,215,0,1) 51%,rgba(255,215,0,1) 71%,rgba(255,215,0,1) 100%); /* W3C */
}

/* Backend Container Box */
#cont2 ul li {
    display: inline-block;
    float: none;
}
/* disable #cont2 ul li rule, while in new backend */
#cont2 .pluginmanager_container ul li  {
    display: inherit;
    float: inherit;
}

#cont2 table span {
    color: inherit !important;
    font-size: 8.7pt !important;
}
#cont2.mbc_container .mbc_content > footer#colophon,
#cont2.mbc_container .backend_entry_container > aside#sidebar_right, 
#cont2.mbc_container .backend_entry_container > nav#main_menu {
    display: none; /* disable the sidebar */
    visibility: hidden;
}
#cont2 .backend_entry_container table:last-of-type div:not(.serendipity_admin_list_item) tr:last-child {
    height: 4em; /* commonly a submit button or a note - i.e the last child in check (new) available plugins for update - section n plugins available */
}
#cont2 #serendipity_plugin_config {margin:0;}
/*#cont2.mbc_container > .mbc_content .freetagMenu,
#cont2.mbc_container > .mbc_content #bayesNav, 
#cont2.mbc_container > .mbc_content #serendipityStaticpagesNav {
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
}*/
/*#cont2.mbc_container .backend_entry_container {
    font-size: 108%;
}*/
#cont2.mbc_container input.serendipityPrettyButton, #cont2.mbc_container a.serendipityPrettyButton {
    background: url("images/bp_admin_prettybutton.png") repeat scroll 0 50% #055BC6;
    border: 1px solid #055BC6;
    font-weight: bold;
    padding: 2px;
    color: white;
}
#cont2.mbc_container input, #cont2.mbc_container select, #cont2.mbc_container form fieldset, #cont2.mbc_container a.serendipityPrettyButton {
    font-size: 84%;
}
#cont2.black .msg_error, #cont2.black .msg_notice, #cont2.black .msg_dialogue,
#cont2 .mbc_content > .backend_entry_container .msg_success {
    border: 1px solid #A0A0A0;
    display: inline-block;
    background: #CDD;
    padding: 0.5em;
}
#cont2.black .msg_error a, #cont2.black .msg_notice a, #cont2.black .msg_dialogue a,
#cont2 .mbc_content > .backend_entry_container .msg_success a {
    color: blue;
}
/* administration -> configuration */
#cont2 .mbc_content > .backend_entry_container  form table {
    margin: 0.5em 0;
}
#cont2 .mbc_content > .backend_entry_container  form:not([name="serendipityPluginConfigure"]) table br {
    display: none;
    line-height: 0px;
}
#cont2 .backend_entry_container th, #cont2 .backend_entry_container tbody td {
    padding: 3px;
}

#cont2.black .backend_entry_container #serendipityStaticpagesTableHeader,
#cont2.black .backend_entry_container #serendipityStaticpagesTable0,
#cont2.black .backend_entry_container #serendipityStaticpagesTable1 {
    color: maroon;
}
#cont2.black .backend_entry_container legend {
    background-color: InactiveCaptionText;
}
#cont2.black .customfield_name {
    background-color: AppWorkspace;
}

#cont2.black textarea, #cont2.black  input:not([type="submit"]), #cont2.black select {
    background-color: lightgray;
}
#cont2.black  input[type="image"] {
    background-color: transparent; /* we can not use multiple attributes in :not()*/
}
#cont2.black .serendipityEntryEdit span {
    color: inherit !important; /* must override .serendipityAdminContent span */
}
#cont2.black form > div, #cont2.black .serendipity_admin_list_item_even, #cont2.black .serendipity_admin_list_item_uneven {
    background: transparent;
}
#cont2.black .pluginmanager_container {
    background-color: transparent;
}
#cont2.black .pluginmanager_item_even, #cont2.black .pluginmanager_item_uneven {
    background-color: #707070;
}
#cont2.black #dashboard #upgrade_notice a:visited, #cont2.black #dashboard #cell_left h3 a:visited, #cont2.black #dashboard .comments_header label a:visited {
    color: inherit;
}
#cont2.black .msg_notice, #cont2.black .msg_dialogue  {
    color: #C70000 !important;
}


/*******************************************************
 * Backend Container #cont2 Black Skin - Additional Plugins styles
 **/

/* staticpages plugin */
#cont2.black .sp_pageselector {
    background-color: #666;
}
#cont2 .backend_entry_container > div {
    margin-top: 2px;
}
#cont2 #serendipityStaticpagesNav ul {
    margin: 0 0 8px 0; /* left 0 with following background, else -10px */
    border-bottom: 0px solid transparent;
}
#cont2  #serendipityStaticpagesNav ul li {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#cont2 #serendipityStaticpagesNav ul li a {
    border: 0 none;
    color: black;
}
#cont2.mbc_container .default_staticpage .sect_basic, 
#cont2.mbc_container .default_staticpage .sect_struct,
#cont2.mbc_container .default_staticpage .sect_meta,
#cont2.mbc_container .default_staticpage .sect_opt {
    font-size: 100%;
}
#cont2.mbc_container #backend_sp_simple nobr {
    display: inline-block;
    float: right;
}
/* Guestbook Plugin styles */
#cont2 span.backend_guestbook_paginator_left {
    width: 38%
}
#cont2 span.backend_guestbook_paginator_right {
    width: 20%;
}
#cont2 span.backend_guestbook_paginator_center {
    float: left;
    margin: 0 auto;
}
#cont2 li.backend_guestbook_dbclean_menu {
    display: block;
}
#cont2.black div.backend_guestbook_dbclean_object {
    background-color: #806D64;
}

/* Guestbook and Verify Plugin styles */
#cont2.black div.backend_verify_menu,
#cont2.black div.backend_verify_nav,
#cont2.black div.backend_guestbook_dbclean_menu,
#cont2.black div.backend_guestbook_menu,
#cont2.black div.backend_guestbook_head,
#cont2.black div.backend_guestbook_nav {
    background: transparent;
}
#cont2.black #backend_guestbook_wrapper .guestbook_entrytop {
    background: #2B3844;
}
#cont2.black #backend_verify_wrapper div.backend_verify_menu, #cont2.black #backend_verify_wrapper div.backend_verify_nav {
    background-color: inherit;
}

/* Freetag Plugins styles */
#cont2 .freetagMenu ul li {
    display: block;
}

/*----------------------------------------------*/

/*   SPAMBLOCK-BAYES PLUGIN    */
#dashboard .spamblockBayesControls {
    cursor: pointer;
}
#dashboard .spamblockBayesRating {
    float: none;
}
#dashboard .spamblockBayesRating img {
    vertical-align: middle;
}

/* temporary tests with new backend .plainList
#event_col, #event_col li > a, #event_col li > h5 {*/
#cont2 ol.pluginmanager_container  li > div,
#cont2 ol.pluginmanager_container  li > a,
#cont2 ol.pluginmanager_container  li > h5 {
    display: inline-block;
}
#pluginlist_sidebar li h5, #event_col li > h5 {
    float: right;
    padding: 0.8em 0.5em 0 0;
}

/*----------------------------------------------
   Responsive Design
   The SelectBar Mode works w/o horizontal scrollbar in Small tablet portrait Mode (600x800) and up
   Therefore we need to redesign for 
   Mobile landscape (480x320)
   Mobile portrait (320x480)
   Underneath 600 width... (see #dashboard #layout min-width: 569px;
 -----------------------------------------------*/
/* designed for Mobile portrait (320x480) */
@media screen and (max-width: 568px) {
    body {
        margin: 0;
    }
    /*
    #dashboard header, #dashboard section {
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: box;
    }*/
    #serendipityAdminInfopane {
        border: 0 none;
        text-align: center;
    }
    #serendipityAdminBanner {
        background: inherit;
        border: inherit;
        height: inherit;
        line-height: 0;
    }
    #serendipityAdminBanner h1, 
    #serendipityAdminBanner h2 {
        margin: 0;
        visibility: hidden;
    }
    #serendipitySideBar {
        display: none !important;
        padding: 0;
        visibility: hidden;
        width: 0;
    }
    #dashboard #layout {
        float: inherit;
        min-width: inherit;
    }
    #dashboard #nav-welcome {
        display: none;
        visibility: hidden;
        width: inherit;
    }
    #dashboard #nav-embed-iconset {
        background: inherit;
        border: 0 none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 transparent;
        -0-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent;
        margin: 0 11%; /* mobile landscape only */
        -webkit-flex-box: 1;
        -moz-flex-box: 1;
        -o-flex-box: 1;
        flex-box: 1;
    }
    #dashboard #nav-embed-iconset ul li {
        margin: 0;
    }
    #dashboard #nav-embed-switch {
        display: none;
        float: inherit;
        text-align: inherit;
    }
    #dashboard #nav-navigation-select {
        width: 93.4%;
    }
    #dashboard #nav-navigation-select #navbar    {
        display: table-caption;
    }
    #dashboard #layout .meta-box {
        min-height: 0;
        width: inherit;
    }
    #dashboard #layout #meta-box-right.meta-box {
        /* All-in! But for sure tell user to drag&drop all meta-right boxes into meta-left! */
        background: none repeat scroll 0 center transparent;
        display: inline;
        float: inherit;
        margin: 0;
        max-width: inherit;
        min-height: inherit;
        overflow: hidden;
        padding: 0;
        visibility: visible;
        width: inherit;
    }
    #dashboard #layout #meta-box-right:empty {
        display: none;
    }
    #dashboard #layout .meta-box:hover {
        background-color: inherit;
        outline: 0 none;
        outline-offset: inherit;
        padding-bottom: inherit;
    }
}
/* mobile portrait only */
@media (max-width: 450px) {
    #dashboard #nav-embed-iconset {
        margin: 0 10%;
    }/**/
}
/* screen only */
@media (min-width: 1024px) {
    #dashboard #nav-welcome {
        width: 54%;
    }
}
/* screen only */
@media (min-width: 1200px) {
    #dashboard #nav-welcome {
        width: 63%;
    }
}

/*
@media (min-width: 450px) and (max-width: 950px) {
    Netbooks  
} 
*/ 
